.body{
    width: 100%;
    overflow-x: hidden;
}

header {
    background-color: #020543;
    color: white;
    padding: 2% 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size:100%;
}

header .brand {
    font-size:100%;
    cursor: pointer;
    
}

header nav a {
    color: white;
    text-decoration: none;
    margin-left: 2%;
    
}

/* search and add button */

.recordcontainer {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 9% 10% auto;
    
}

.div1{
    position: relative;
    text-align: center;
}
.div1 p{
    font-size: bold;
    font-size:30px;
   
}
.actionbuttons{
    position: relative;
    
}
#addbtn{
    position: relative;
    padding: 1%;
    width: 15%;
    height: 60%;
    top: 20%;
    left: 85%;
    background-color:#041154;
    color: white;
    border: none;
    
  
}
#search{
    position: absolute;
    width: 30%;
    height: 100%;
    left:0%;
    top: 30%;
   

}
#searchInput{
    width: 70%;
    height: 40%;
    position: relative; 
    border: 2px solid rgb(40, 37, 37);
   
}
#searchbtn{
    width: 20%;
    height: 40%;
    position: absolute;
    border: 2px solid rgb(34, 32, 32);
    border-left: none;
}


/* table */
.tableresponsive{
    position: relative;
}

#table_data {
    width: 100%;
    border: 1px solid #041154;
    text-align: center;
    border-collapse: collapse;
    border-color: #041154;
}
#table_data td,th{
    border: 1px solid #041154;
    height: 5%;
    padding: 1%;
    
}
#table_data th{
    background-color: #041154;
    color: white;
}



/* masking */


#mask{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(215, 214, 227);
    top: 0;
    opacity: 0.5;
    display: none;
    
}







/* Popup */



#popupcontent, #editpopupcontent {
    background-color: white;
    padding: 1%;
    width: 30%;
    height: 100%;
    background-color: #0b1464;
    position: absolute;
    top: 1%;
    left: 35%;
    display: none;
    z-index: 1111;
}
#popupcontent h3{
        color: white;
}
#rentalForm1{
    height: 80%;
    width: 100%;
}
#rentalForm{
    height: 80%;
    width: 100%;
}


.formgroup{
    width: 100%;

}
#fuelType,#fuelType1{
    width: 100%;
    height: 6%;
    padding: 1%;
    box-shadow: 2px 2px 5px rgb(223, 210, 210);
    border: none;
    border-radius: 10px;
}
.formgroup label{
    color: white;
    border: none;
    padding-bottom: 2%;
}
.formgroup input{
    width: 100%;
    height: 6%;
    
    box-shadow: 2px 2px 5px rgb(230, 221, 221);
    border: none;
    border-radius: 10px;
   
}
#isSinglePassenger,#isSinglePassenger1{
    box-shadow: none;
    border-radius: 10px;
    width: 15px;
    height: 15px;
    margin-top: 3%;
}


#button_close{
    display:grid;
    grid-template-columns: auto auto;
    
}
#button_close div:first-child{
    
}
#button_close div:last-child{
    
}

#button_close button{
    background-color: rgb(216, 211, 211);
    width: 20%;
    height: 40%;
    margin-left: 70%;
     margin-top: 10%;
    border-radius: 20%;
    
}

input[type="checkbox"] {
    margin-left: 0%;
    border-radius: 10px;
}
#last_button{
    width: 100%;
    height: 10%;
   margin-top: -4%;

}
#last_button button{
    width: 25%;
    height: 80%;
    margin-top: 1%;
    margin-left: 15%;
    border: none;
    
}
#last_button button:first-child{
    background-color: green;
    border-radius: 10px;
}
#last_button button:last-child{
    background-color: red;
    border-radius: 10px;
}




/* Footer */
footer {
    /* margin-top: 0%; */
    text-align: center;
    padding: 2%;
    background-color: #041154;
    color: white;
    bottom: 0;
    left: 0;
    
    
}
