* {
    margin: 0%;
    padding: 0%;
   
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f9f9f9;
    margin: 0%;
    padding: 0%;
    overflow-x: hidden; 
    overflow-y:auto;
}

header {
    background-color: #020543;
    color: white;
    padding: 5% 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size:100%;
}

header .brand {
    font-size:100%;
    cursor: pointer;
    
}

header nav a {
    color: white;
    text-decoration: none;
    margin-left: 2%;
    
}


.recordcontainer {
    
    padding: 4%;
}

.recordcontainer h2 {
    text-align: center;
    margin-bottom: 4%;
}

table {
    width: 100%; /* Ensure the table uses full width of its container */
    border-collapse: collapse;
    margin-bottom: 5%;
    font-size: smaller;
     /* Ensure the table fits within its container */
}

th, td {
    padding: 2%;
    text-align: center;
    border-bottom: 1% solid #ddd;
    word-wrap:normal; /* Ensure long words break within cells */
    height: 40%; /* Decrease the height of the table cells */
}
 table tr:hover(){
    background-color: #a17a0c;
}

th {
    background-color: #0a044f;
    color: white;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center; /* Center align headings */
}

td {
    background-color: #f4f4f4;
    color:#0a044f ;
}

.actions button {
    padding: 1% 2%;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}


.actions button:hover {
    background-color: #555;
}

.addbtn {
    padding: 2% 4%;
    background-color: #a17a0c; 
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 3%;
    margin-right: auto;
}

.recordcontainer {
    padding: 2%;
}

.actionbuttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
}



.searchcontainer {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.searchcontainer input {
    margin-right: 10%;
    padding: 10%;
}


.searchcontainer button {
    padding: 5%;
}


.addbtn:hover {
    background-color: darkgreen;
}


/* Popup */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 40%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background-color: #0a044f;
    color: #f4f4f4;
}


.popupcontent {
    background-color: white;
    padding: 3%;
    width: 100%;
    max-width: 450%; 
    max-height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #072155;
    position: relative;
}
.popupcontent h3{
    color: #dfe2ea;
    margin-bottom: 5%;
}


.popup input,
.popup select {
    width: 90%;
    padding: 2%;
    margin-bottom: 5%;
    border: 1px solid #ddd;
    background-color: #fff;
}

.popup .btn {
    padding: 2% 4%;
    background-color: #a17a0c; 
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 1%;
}

.popup .cancelbtn {
    background-color: #a17a0c; 

}

.popup .close {
    position: absolute;
    right: 5%;
    font-size: 100%;
    font-weight: bold;
    color: #0a1060;
    cursor: pointer;
}
label {
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    margin-left: 0%;
}

/* Footer */
footer {
    margin-top: 20%;
    text-align: center;
    padding: 2%;
    background-color: #041154;
    color: white;
}



/* Responsive Design
@media (max-width: 600px) {
    .popup-content {
        padding: 2%;
        max-width: 90%;
    }

    .popup .btn {
        width: 100%;
        margin-top: 2%;
    }
} */
