


header {
    background-color: #020543;
    color: white;
    padding: 2% 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size:100%;
}

header .brand {
    font-size:100%;
    cursor: pointer;
    
}

header nav a {
    color: white;
    text-decoration: none;
    margin-left: 2%;
    
}
.divlogo1{
    margin-top: 10%;
    
    height: 100%;
    width: 100%;
}
.texts{
     display: block;
     float: right;
}


.grid-container {
    display: grid;
    width: 95%;
    height: 90%;
    overflow-y:hidden;
    grid-template-columns: auto auto auto;
    gap:2%;
    /* background-color: #0c0a57; */
    padding: 2%;
    border-radius: 1%;
  }
  .grid-container  .card {
    /* background-color: rgba(100, 175, 25, 0.8); */
    border: 1px solid rgb(13, 10, 100);
    
   border-radius: 3%;
  }
  .card{
    background-color: rgb(10, 5, 101);
    box-shadow: 1px 4px 8px;
    border-radius: 10%;
    box-shadow: 0px 5px 5px 0px rgba(25, 10, 194, 0.22), 1px 10px 4px 10px rgba(12, 28, 152, 0.22),;
}
  .card img{
    width: 100%;
    height: 100%;
    border: rgb(8, 5, 104);
    border-radius: 3%;
  }












/* Footer */
footer {
    margin-top: 20%;
    text-align: center;
    padding: 2%;
    background-color: #041154;
    color: white;
}





